body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link:visited {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
