.button--large {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  text-transform: inherit;
  border-radius: 30px;
  height: 50px;
  width: 200px;
  margin-top: 20px;
}

.button--large:hover {
  cursor: pointer;
  background-color: #174c8d;
  transition: background-color 200ms ease-out;
}

.button--small {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  text-transform: inherit;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  margin: auto;
}

.button--tiny {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  text-transform: inherit;
  border-radius: 30px;
  width: 70px;
  height: 30px;
  margin: auto;
}
