.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 0 10px;
  margin: 0;
}

.app::-webkit-scrollbar{
  display: none; 
}

@media screen and (max-width: 768px) {
  .app {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0 10px;
    margin: 0;
  }

  .widgets {
    display: none;
  }

  .app > .feed { 
    flex: 1; /* This allows .feed to expand and fill the space */
    border-right: none; /* Removes the border */
  }
}

