.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  max-width: 100%;
  border-top: 1px solid var(--twitter-background);
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body > img {
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
  padding-right: 50px;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
  padding-top: 10px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 15px;
  color: gray;
}

.post__avatar {
  padding: 20px;
}

.post__footer:hover{
  cursor: pointer;
}


.inner__footer{
  display: flex;
  justify-content: space-around;
}

.inner__footer__item{
  padding-right: 70px;
}

@media screen and (max-width: 768px){
  .post__headerDescription{
    font-size: small;
    padding-right: 2px;
  }
  .post {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px; /* Adjust as necessary */
    padding: 10px; /* Adjust as necessary */
    border-bottom: 1px solid #e6ecf0; /* Adjust as necessary */
    word-wrap: break-word; /* Ensures text wraps to next line */
  }
  
  .post__avatar {
    margin-right: 10px;
    padding: 5px; /* Adjust as necessary */
    padding-top: 20px;
  }
  
  .post__body {
    flex-grow: 1; /* Allows the body to take up remaining space */
    overflow: hidden; /* Prevents horizontal scroll */
  }
  
  .post__header, .post__headerDescription, .post__footer {
    overflow-wrap: break-word; /* Ensures text within these elements wraps */
  }
  
  .post img {
    max-width: 100%; /* Ensures images do not overflow */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Corrects block level image behavior */
    margin-top: 10px; /* Adjust as necessary */
  }
  .inner__footer__item{
    padding-right: 20px;
  }
  /* Add further styling for other subcomponents as necessary */
  
}