.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  max-width: 100%;
  border-top: 1px solid var(--twitter-background);
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body > img {
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
  padding-right: 50px;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
  padding-top: 10px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 15px;
  color: gray;
}

.post__avatar {
  padding: 20px;
}

.post__footer:hover{
  cursor: pointer;
}


.inner__footer{
  display: flex;
  justify-content: space-around;
}

.inner__footer__item{
  padding-right: 70px;
}