.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__container {
  flex: 1;
  display: flex;
  flex-direction: column;

  border-color: gray;
  margin-left: 10px;
}


.tweetBox__container > textarea {
  font-size: 20px;
  margin-left: 20px;
  height: 60px;
  padding-top: 20px;
  padding-left: 10px;
  outline: none;
  resize: none;
  border: none; 
  font-size: 24px; 
  border-bottom: 1px solid;
}

.tweetBox__input > textarea:focus{
  outline: none;
}

.tweetimage {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tweetimage > button {
  margin: 5px;
  margin-top: 10px;
}

.imageicon{
  size: 120px;
  cursor: pointer;
}