.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > textarea {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: solid 2px;
  border-color: gray;
  margin-right: 20px;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
}

.tweetimage{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tweetimage>button{
 margin: 5px;
}
.imageicon:hover{
  cursor: pointer;
}